# Blinkit Bistro Smart Expansion Strategy (via Zomato Data)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [39]:
df=pd.read_csv('zomato.csv',encoding='latin-1')

In [55]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [59]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [65]:
# Filter Indian data
df = df[df['Country Code'] == 1]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8652 entries, 624 to 9275
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         8652 non-null   int64
 1   Restaurant Name       8652 non-null   object
 2   Country Code          8652 non-null   int64
 3   City                  8652 non-null   object
 4   Address               8652 non-null   object
 5   Locality              8652 non-null   object
 6   Locality Verbose      8652 non-null   object
 7   Longitude             8652 non-null   float64
 8   Latitude              8652 non-null   float64
 9   Cuisines              8652 non-null   object
 10  Average Cost for two  8652 non-null   int64
 11  Currency              8652 non-null   object
 12  Has Table booking     8652 non-null   object
 13  Has Online delivery   8652 non-null   object
 14  Is delivering now     8652 non-null   object
 15  Switch to order menu  8652 non-null   object
 16  Price range           8652 non-null   int64
 17  Aggregate rating      8652 non-null   float64
 18  Rating color          8652 non-null   object
 19  Rating text           8652 non-null   object
 20  Votes                 8652 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [69]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [79]:
# Drop unnecessary columns
df = df.drop(['Switch to order menu'], axis=1)

In [77]:
df['Currency'].unique()

array(['Indian Rupees(Rs.)'], dtype=object)

## STEP 2: Feature Engineering

Primary Cuisine Extraction

In [84]:
df['Primary Cuisine'] = df['Cuisines'].str.split(',').str[0]

In [103]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Primary Cuisine         0
dtype: int64

Explode Multiple Cuisines

In [93]:
df['Cuisines'] = df['Cuisines'].str.split(', ')
df = df.explode('Cuisines')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17854 entries, 624 to 9275
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         17854 non-null  int64
 1   Restaurant Name       17854 non-null  object
 2   Country Code          17854 non-null  int64
 3   City                  17854 non-null  object
 4   Address               17854 non-null  object
 5   Locality              17854 non-null  object
 6   Locality Verbose      17854 non-null  object
 7   Longitude             17854 non-null  float64
 8   Latitude              17854 non-null  float64
 9   Cuisines              17854 non-null  object
 10  Average Cost for two  17854 non-null  int64
 11  Currency              17854 non-null  object
 12  Has Table booking     17854 non-null  object
 13  Has Online delivery   17854 non-null  object
 14  Is delivering now     17854 non-null  object
 15  Price range           17854 non-null  int64
 16  Aggregate rating      17854 non-null  float64
 17  Rating color          17854 non-null  object
 18  Rating text           17854 non-null  object
 19  Votes                 17854 non-null  int64
 20  Primary Cuisine       17854 non-null  object
dtypes: float64(3), int64(5), object(13)
memory usage: 3.0+ MB

In [111]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,North Indian,850,Indian Rupees(Rs.),No,No,No,3,3.9,Yellow,Good,140
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,Mughlai,850,Indian Rupees(Rs.),No,No,No,3,3.9,Yellow,Good,140
625,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,North Indian,700,Indian Rupees(Rs.),No,No,No,2,3.5,Yellow,Good,71
625,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,Mughlai,700,Indian Rupees(Rs.),No,No,No,2,3.5,Yellow,Good,71
626,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,500,Indian Rupees(Rs.),No,No,No,2,3.6,Yellow,Good,94

In [109]:
df = df.drop(['Primary Cuisine'], axis=1)

### NEW MEASURE AS DEMAND SCORE

In [114]:
df['Demand Score'] = df['Aggregate rating'] * df['Votes']

In [118]:
df['Demand Score'].describe()

count    17854.000000
mean       710.906520
std       2153.625462
min          0.000000
25%         20.300000
50%        122.200000
75%        525.300000
max      52483.200000
Name: Demand Score, dtype: float64

In [126]:
df[df['Demand Score']==0].info()

<class 'pandas.core.frame.DataFrame'>
Index: 3426 entries, 871 to 9112
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         3426 non-null   int64
 1   Restaurant Name       3426 non-null   object
 2   Country Code          3426 non-null   int64
 3   City                  3426 non-null   object
 4   Address               3426 non-null   object
 5   Locality              3426 non-null   object
 6   Locality Verbose      3426 non-null   object
 7   Longitude             3426 non-null   float64
 8   Latitude              3426 non-null   float64
 9   Cuisines              3426 non-null   object
 10  Average Cost for two  3426 non-null   int64
 11  Currency              3426 non-null   object
 12  Has Table booking     3426 non-null   object
 13  Has Online delivery   3426 non-null   object
 14  Is delivering now     3426 non-null   object
 15  Price range           3426 non-null   int64
 16  Aggregate rating      3426 non-null   float64
 17  Rating color          3426 non-null   object
 18  Rating text           3426 non-null   object
 19  Votes                 3426 non-null   int64
 20  Demand Score          3426 non-null   float64
dtypes: float64(4), int64(5), object(12)
memory usage: 588.8+ KB

#### Dropping the rows where Demand Score == 0 from the DataFrame df

In [131]:
df = df[df['Demand Score'] != 0]

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14428 entries, 624 to 9275
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         14428 non-null  int64
 1   Restaurant Name       14428 non-null  object
 2   Country Code          14428 non-null  int64
 3   City                  14428 non-null  object
 4   Address               14428 non-null  object
 5   Locality              14428 non-null  object
 6   Locality Verbose      14428 non-null  object
 7   Longitude             14428 non-null  float64
 8   Latitude              14428 non-null  float64
 9   Cuisines              14428 non-null  object
 10  Average Cost for two  14428 non-null  int64
 11  Currency              14428 non-null  object
 12  Has Table booking     14428 non-null  object
 13  Has Online delivery   14428 non-null  object
 14  Is delivering now     14428 non-null  object
 15  Price range           14428 non-null  int64
 16  Aggregate rating      14428 non-null  float64
 17  Rating color          14428 non-null  object
 18  Rating text           14428 non-null  object
 19  Votes                 14428 non-null  int64
 20  Demand Score          14428 non-null  float64
dtypes: float64(4), int64(5), object(12)
memory usage: 2.4+ MB

# Get approximate Pincode (Reverse Geocoding)

In [140]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 1.9 MB/s eta 0:00:00 0:00:01
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 3.4 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [142]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapi")

def get_pincode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), timeout=10)
        return location.raw['address'].get('postcode', None)
    except:
        return None

df['Pincode'] = df.apply(lambda row: get_pincode(row['Latitude'], row['Longitude']), axis=1)

In [155]:
df['Pincode'].isnull().sum()

1782

In [157]:
df.to_csv('ZOMATO_WITH_PINCODE_1.CSV')

In [173]:
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes,Demand Score,Pincode
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,North Indian,...,No,No,No,3,3.9,Yellow,Good,140,546.0,280001
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,Mughlai,...,No,No,No,3,3.9,Yellow,Good,140,546.0,280001
625,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,North Indian,...,No,No,No,2,3.5,Yellow,Good,71,248.5,280001
625,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,Mughlai,...,No,No,No,2,3.5,Yellow,Good,71,248.5,280001
626,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,No,No,No,2,3.6,Yellow,Good,94,338.4,280001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8466,307555,Public Cafe,1,Noida,"G-28A, Savitri Market, Near Metro Station, Sec...",Sector 18,"Sector 18, Noida",77.326181,28.569934,Beverages,...,No,Yes,No,1,2.1,Red,Poor,74,155.4,201313
8467,4717,RPM - Zanzi Bar,1,Noida,"B-110, Gautam Budh Nagar, Sector 18, Noida",Sector 18,"Sector 18, Noida",77.325299,28.570669,Chinese,...,Yes,No,No,4,2.4,Red,Poor,103,247.2,201313
8467,4717,RPM - Zanzi Bar,1,Noida,"B-110, Gautam Budh Nagar, Sector 18, Noida",Sector 18,"Sector 18, Noida",77.325299,28.570669,North Indian,...,Yes,No,No,4,2.4,Red,Poor,103,247.2,201313
8468,7956,Mad Over Donuts,1,Noida,"J-52,Ground Floor, Main Market, Sector 18, Noida",Sector 18,"Sector 18, Noida",77.324238,28.568278,Desserts,...,No,Yes,No,1,4.2,Green,Very Good,235,987.0,201313
8469,304612,RollsKing,1,Noida,"J-3, Near GIP Footover Bridge, Sector 18, Noida",Sector 18,"Sector 18, Noida",77.324804,28.568124,Fast Food,...,No,No,No,1,4.0,Green,Very Good,1055,4220.0,201313

In [159]:
# Group and fill
df['Pincode'] = df.groupby(['City', 'Locality'])['Pincode'].transform(lambda x: x.fillna(method='ffill'))

/var/folders/j7/yfj7nxc90952lcr5lx7fzy9r0000gn/T/ipykernel_36070/3494830228.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Pincode'] = df.groupby(['City', 'Locality'])['Pincode'].transform(lambda x: x.fillna(method='ffill'))

In [163]:
df['Pincode'].isnull().sum()

1316

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13112 entries, 624 to 8469
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         13112 non-null  int64
 1   Restaurant Name       13112 non-null  object
 2   Country Code          13112 non-null  int64
 3   City                  13112 non-null  object
 4   Address               13112 non-null  object
 5   Locality              13112 non-null  object
 6   Locality Verbose      13112 non-null  object
 7   Longitude             13112 non-null  float64
 8   Latitude              13112 non-null  float64
 9   Cuisines              13112 non-null  object
 10  Average Cost for two  13112 non-null  int64
 11  Currency              13112 non-null  object
 12  Has Table booking     13112 non-null  object
 13  Has Online delivery   13112 non-null  object
 14  Is delivering now     13112 non-null  object
 15  Price range           13112 non-null  int64
 16  Aggregate rating      13112 non-null  float64
 17  Rating color          13112 non-null  object
 18  Rating text           13112 non-null  object
 19  Votes                 13112 non-null  int64
 20  Demand Score          13112 non-null  float64
 21  Pincode               13112 non-null  object
dtypes: float64(4), int64(5), object(13)
memory usage: 2.3+ MB

In [169]:
df = df.dropna(subset=['Pincode'])

In [175]:
df.to_csv('zomato_final.csv')

# BLINKIT BISTRO

In [178]:
grouped = df.groupby(['Pincode', 'Locality', 'City', 'Cuisines']).agg({
    'Votes': 'sum',
    'Aggregate rating': 'mean',
    'Average Cost for two': 'mean',
    'Restaurant ID': 'count',
    'Has Online delivery': lambda x: (x == "Yes").mean()
}).reset_index().rename(columns={
    'Restaurant ID': 'Total Restaurants',
    'Has Online delivery': 'Delivery Availability Ratio'
})

In [196]:
grouped['Delivery Availability Ratio'].value_counts()

Delivery Availability Ratio
0.000000    3075
1.000000    1625
0.500000     409
0.333333     133
0.666667     117
            ...
0.578947       1
0.451613       1
0.416667       1
0.592593       1
0.632653       1
Name: count, Length: 103, dtype: int64

In [194]:
grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5839 entries, 0 to 5838
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Pincode                      5839 non-null   object
 1   Locality                     5839 non-null   object
 2   City                         5839 non-null   object
 3   Cuisines                     5839 non-null   object
 4   Votes                        5839 non-null   int64
 5   Aggregate rating             5839 non-null   float64
 6   Average Cost for two         5839 non-null   float64
 7   Total Restaurants            5839 non-null   int64
 8   Delivery Availability Ratio  5839 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 410.7+ KB

In [208]:
grouped

,Pincode,Locality,City,Cuisines,Votes,Aggregate rating,Average Cost for two,Total Restaurants,Delivery Availability Ratio,Demand Score,Feasibility Score
0,020626,Feroze Shah Road,New Delhi,Andhra,3010,4.20,200.0,1,0.0,12642.00,6321.000000
1,020626,Feroze Shah Road,New Delhi,South Indian,3010,4.20,200.0,1,0.0,12642.00,6321.000000
2,020626,India Gate,New Delhi,Maharashtrian,266,3.80,300.0,1,0.0,1010.80,505.400000
3,020626,India Gate,New Delhi,North Indian,266,3.80,300.0,1,0.0,1010.80,505.400000
4,020626,Janpath,New Delhi,European,299,3.90,2100.0,1,0.0,1166.10,583.050000
...,...,...,...,...,...,...,...,...,...,...,...
5834,781104,Zoo Tiniali,Guwahati,Charcoal Grill,256,4.00,1000.0,1,0.0,1024.00,512.000000
5835,781104,Zoo Tiniali,Guwahati,Chinese,625,4.15,800.0,2,0.0,2593.75,864.583333
5836,781104,Zoo Tiniali,Guwahati,Continental,256,4.00,1000.0,1,0.0,1024.00,512.000000
5837,781104,Zoo Tiniali,Guwahati,Fast Food,256,4.00,1000.0,1,0.0,1024.00,512.000000
5838,781104,Zoo Tiniali,Guwahati,Mexican,256,4.00,1000.0,1,0.0,1024.00,512.000000

In [200]:
grouped['Demand Score'] = grouped['Aggregate rating'] * grouped['Votes']

In [206]:
grouped['Feasibility Score'] = grouped['Votes'] * grouped['Aggregate rating'] / (grouped['Total Restaurants'] + 1)

In [210]:
# Step 1: Calculate average restaurants per city
avg_restaurants_per_city = grouped.groupby('City')['Total Restaurants'].mean().reset_index()
avg_restaurants_per_city = avg_restaurants_per_city.rename(columns={'Total Restaurants': 'Avg Restaurants in City'})

# Step 2: Merge back into the main grouped DataFrame
grouped = pd.merge(grouped, avg_restaurants_per_city, on='City', how='left')

# Step 3: Calculate Saturation Index
grouped['Saturation Index'] = grouped['Total Restaurants'] / grouped['Avg Restaurants in City']

In [232]:
grouped

,Pincode,Locality,City,Cuisines,Votes,Aggregate rating,Average Cost for two,Total Restaurants,Delivery Availability Ratio,Demand Score,Feasibility Score,Saturation Index,Demand Score (Norm),Feasibility Score (Norm),Saturation Index (Norm)
0,020626,Feroze Shah Road,New Delhi,Andhra,3010,4.20,200.0,1,0.0,12642.00,6321.000000,0.370092,0.042594,0.240738,0.000000
1,020626,Feroze Shah Road,New Delhi,South Indian,3010,4.20,200.0,1,0.0,12642.00,6321.000000,0.370092,0.042594,0.240738,0.000000
2,020626,India Gate,New Delhi,Maharashtrian,266,3.80,300.0,1,0.0,1010.80,505.400000,0.370092,0.003376,0.019080,0.000000
3,020626,India Gate,New Delhi,North Indian,266,3.80,300.0,1,0.0,1010.80,505.400000,0.370092,0.003376,0.019080,0.000000
4,020626,Janpath,New Delhi,European,299,3.90,2100.0,1,0.0,1166.10,583.050000,0.370092,0.003899,0.022040,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5834,781104,Zoo Tiniali,Guwahati,Charcoal Grill,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018
5835,781104,Zoo Tiniali,Guwahati,Chinese,625,4.15,800.0,2,0.0,2593.75,864.583333,1.529412,0.008713,0.032770,0.044120
5836,781104,Zoo Tiniali,Guwahati,Continental,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018
5837,781104,Zoo Tiniali,Guwahati,Fast Food,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018
5838,781104,Zoo Tiniali,Guwahati,Mexican,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018

In [214]:
grouped = grouped.drop(['Avg Restaurants in City'], axis=1)

In [218]:
from sklearn.preprocessing import MinMaxScaler

# Select columns to normalize
to_normalize = grouped[['Delivery Availability Ratio', 'Demand Score', 'Feasibility Score', 'Saturation Index']]

# Initialize scaler
scaler = MinMaxScaler()

# Normalize
normalized = pd.DataFrame(scaler.fit_transform(to_normalize), columns=[
    'Delivery_Normalized', 'Demand_Normalized', 'Feasibility_Normalized', 'Saturation_Normalized'])

# Join back
grouped = pd.concat([grouped, normalized], axis=1)

# Compute Blinkit Bistro Success Score
grouped['Blinkit Bistro Success Score'] = (
    0.1 * grouped['Delivery_Normalized'] +
    0.5 * grouped['Feasibility_Normalized'] +
    0.3 * grouped['Demand_Normalized'] -
    0.1 * grouped['Saturation_Normalized']
)

In [222]:
grouped['Blinkit Bistro Success Score'].unique()

array([0.13314719, 0.01055278, 0.01218967, ..., 0.00378516, 0.00919014,
       0.01458703])

In [226]:
columns_to_drop = [
    'Delivery_Normalized',
    'Demand_Normalized',
    'Feasibility_Normalized',
    'Saturation_Normalized',
    'Blinkit Bistro Success Score'
]

grouped = grouped.drop(columns=columns_to_drop)

In [230]:
from sklearn.preprocessing import MinMaxScaler

# Columns you want to normalize
columns_to_normalize = [
    'Demand Score',
    'Feasibility Score',
    'Saturation Index'
]

# Min-max scaling
scaler = MinMaxScaler()
normalized = pd.DataFrame(
    scaler.fit_transform(grouped[columns_to_normalize]),
    columns=[col + ' (Norm)' for col in columns_to_normalize]
)

# Merge with original
grouped = pd.concat([grouped.reset_index(drop=True), normalized], axis=1)

In [236]:
grouped['Saturation Index (Norm)'].describe()

count    5839.000000
mean        0.023972
std         0.050471
min         0.000000
25%         0.000000
50%         0.013687
75%         0.025140
max         1.000000
Name: Saturation Index (Norm), dtype: float64

In [238]:
grouped['Saturation Inverse'] = 1 - grouped['Saturation Index (Norm)']

In [242]:
grouped['Blinkit Bistro Success Score'] = (
    0.3 * grouped['Delivery Availability Ratio'] +
    0.3 * grouped['Feasibility Score (Norm)'] +
    0.3 * grouped['Demand Score (Norm)'] +
    0.1 * grouped['Saturation Inverse']
)

In [244]:
grouped

,Pincode,Locality,City,Cuisines,Votes,Aggregate rating,Average Cost for two,Total Restaurants,Delivery Availability Ratio,Demand Score,Feasibility Score,Saturation Index,Demand Score (Norm),Feasibility Score (Norm),Saturation Index (Norm),Saturation Inverse,Blinkit Bistro Success Score
0,020626,Feroze Shah Road,New Delhi,Andhra,3010,4.20,200.0,1,0.0,12642.00,6321.000000,0.370092,0.042594,0.240738,0.000000,1.000000,0.185000
1,020626,Feroze Shah Road,New Delhi,South Indian,3010,4.20,200.0,1,0.0,12642.00,6321.000000,0.370092,0.042594,0.240738,0.000000,1.000000,0.185000
2,020626,India Gate,New Delhi,Maharashtrian,266,3.80,300.0,1,0.0,1010.80,505.400000,0.370092,0.003376,0.019080,0.000000,1.000000,0.106737
3,020626,India Gate,New Delhi,North Indian,266,3.80,300.0,1,0.0,1010.80,505.400000,0.370092,0.003376,0.019080,0.000000,1.000000,0.106737
4,020626,Janpath,New Delhi,European,299,3.90,2100.0,1,0.0,1166.10,583.050000,0.370092,0.003899,0.022040,0.000000,1.000000,0.107782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5834,781104,Zoo Tiniali,Guwahati,Charcoal Grill,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018,0.984982,0.105324
5835,781104,Zoo Tiniali,Guwahati,Chinese,625,4.15,800.0,2,0.0,2593.75,864.583333,1.529412,0.008713,0.032770,0.044120,0.955880,0.108033
5836,781104,Zoo Tiniali,Guwahati,Continental,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018,0.984982,0.105324
5837,781104,Zoo Tiniali,Guwahati,Fast Food,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018,0.984982,0.105324
5838,781104,Zoo Tiniali,Guwahati,Mexican,256,4.00,1000.0,1,0.0,1024.00,512.000000,0.764706,0.003420,0.019332,0.015018,0.984982,0.105324

In [260]:
grouped[grouped['City']=='Lucknow']

,Pincode,Locality,City,Cuisines,Votes,Aggregate rating,Average Cost for two,Total Restaurants,Delivery Availability Ratio,Demand Score,Feasibility Score,Saturation Index,Demand Score (Norm),Feasibility Score (Norm),Saturation Index (Norm),Saturation Inverse,Blinkit Bistro Success Score
4825,206018,Hazratganj,Lucknow,Mughlai,818,4.400000,400.0,1,0.0,3599.20,1799.600000,0.693878,0.012103,0.068408,0.012322,0.987678,0.122921
4904,226001,Sadar Bazaar,Lucknow,Cafe,587,4.000000,700.0,1,0.0,2348.00,1174.000000,0.693878,0.007885,0.044563,0.012322,0.987678,0.114502
4905,226001,Sadar Bazaar,Lucknow,Fast Food,587,4.000000,700.0,1,0.0,2348.00,1174.000000,0.693878,0.007885,0.044563,0.012322,0.987678,0.114502
4906,226010,Gomti Nagar,Lucknow,American,1011,4.300000,1150.0,2,0.0,4347.30,1449.100000,1.387755,0.014626,0.055049,0.038729,0.961271,0.117029
4907,226010,Gomti Nagar,Lucknow,Asian,514,3.700000,1000.0,1,0.0,1901.80,950.900000,0.693878,0.006380,0.036060,0.012322,0.987678,0.111500
4908,226010,Gomti Nagar,Lucknow,Cafe,1202,4.080000,550.0,5,0.0,4904.16,817.360000,3.469388,0.016503,0.030970,0.117949,0.882051,0.102447
4909,226010,Gomti Nagar,Lucknow,Chinese,838,3.850000,925.0,2,0.0,3226.30,1075.433333,1.387755,0.010846,0.040807,0.038729,0.961271,0.111623
4910,226010,Gomti Nagar,Lucknow,Continental,1496,3.925000,887.5,4,0.0,5871.80,1174.360000,2.775510,0.019766,0.044577,0.091542,0.908458,0.110149
4911,226010,Gomti Nagar,Lucknow,Desserts,165,4.100000,400.0,1,0.0,676.50,338.250000,0.693878,0.002249,0.012709,0.012322,0.987678,0.103255
4912,226010,Gomti Nagar,Lucknow,European,80,4.100000,1000.0,1,0.0,328.00,164.000000,0.693878,0.001074,0.006068,0.012322,0.987678,0.100910
4913,226010,Gomti Nagar,Lucknow,Fast Food,217,3.900000,450.0,1,0.0,846.30,423.150000,0.693878,0.002821,0.015945,0.012322,0.987678,0.104398
4914,226010,Gomti Nagar,Lucknow,Italian,1849,4.320000,790.0,5,0.0,7987.68,1331.280000,3.469388,0.026900,0.050558,0.117949,0.882051,0.111443
4915,226010,Gomti Nagar,Lucknow,Lebanese,887,4.300000,1000.0,1,0.0,3814.10,1907.050000,0.693878,0.012828,0.072503,0.012322,0.987678,0.124367
4916,226010,Gomti Nagar,Lucknow,Mediterranean,124,4.300000,1300.0,1,0.0,533.20,266.600000,0.693878,0.001765,0.009978,0.012322,0.987678,0.102291
4917,226010,Gomti Nagar,Lucknow,Mughlai,691,4.200000,1200.0,1,0.0,2902.20,1451.100000,0.693878,0.009753,0.055125,0.012322,0.987678,0.118231
4918,226010,Gomti Nagar,Lucknow,North Indian,1473,3.933333,1100.0,3,0.0,5793.80,1448.450000,2.081633,0.019503,0.055024,0.065136,0.934864,0.115845
4919,226010,Renaissance Lucknow Hotel,Lucknow,Asian,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4920,226010,Renaissance Lucknow Hotel,Lucknow,Chinese,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4921,226010,Renaissance Lucknow Hotel,Lucknow,Continental,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4922,226010,Renaissance Lucknow Hotel,Lucknow,North Indian,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4923,226010,Renaissance Lucknow Hotel,Lucknow,South Indian,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4924,226010,Renaissance Lucknow Hotel,Lucknow,Thai,149,4.200000,2000.0,1,0.0,625.80,312.900000,0.693878,0.002078,0.011743,0.012322,0.987678,0.102914
4925,226010,"Riverside Mall, Gomti Nagar",Lucknow,North Indian,1069,4.700000,1600.0,1,0.0,5024.30,2512.150000,0.693878,0.016908,0.095566,0.012322,0.987678,0.132510
4926,226018,Aminabad,Lucknow,Lucknowi,1057,4.900000,300.0,1,0.0,5179.30,2589.650000,0.693878,0.017431,0.098520,0.012322,0.987678,0.133553
4927,226018,Aminabad,Lucknow,Mughlai,1057,4.900000,300.0,1,0.0,5179.30,2589.650000,0.693878,0.017431,0.098520,0.012322,0.987678,0.133553
4928,226027,Hazratganj,Lucknow,Bakery,288,4.100000,400.0,1,0.0,1180.80,590.400000,0.693878,0.003949,0.022320,0.012322,0.987678,0.106648
4929,226027,Hazratganj,Lucknow,Cafe,288,4.100000,400.0,1,0.0,1180.80,590.400000,0.693878,0.003949,0.022320,0.012322,0.987678,0.106648
4930,226027,Lalbagh,Lucknow,Chinese,762,4.200000,1100.0,1,0.0,3200.40,1600.200000,0.693878,0.010759,0.060808,0.012322,0.987678,0.120238
4931,226027,Lalbagh,Lucknow,Continental,762,4.200000,1100.0,1,0.0,3200.40,1600.200000,0.693878,0.010759,0.060808,0.012322,0.987678,0.120238
4932,226027,Lalbagh,Lucknow,Mughlai,762,4.200000,1100.0,1,0.0,3200.40,1600.200000,0.693878,0.010759,0.060808,0.012322,0.987678,0.120238
4933,226027,Lalbagh,Lucknow,North Indian,762,4.200000,1100.0,1,0.0,3200.40,1600.200000,0.693878,0.010759,0.060808,0.012322,0.987678,0.120238
4934,226027,"Royal Inn, Hazratganj",Lucknow,Chinese,411,4.200000,1000.0,1,0.0,1726.20,863.100000,0.693878,0.005788,0.032714,0.012322,0.987678,0.110318
4935,226027,"Royal Inn, Hazratganj",Lucknow,Mughlai,411,4.200000,1000.0,1,0.0,1726.20,863.100000,0.693878,0.005788,0.032714,0.012322,0.987678,0.110318
4936,226027,"Royal Inn, Hazratganj",Lucknow,North Indian,411,4.200000,1000.0,1,0.0,1726.20,863.100000,0.693878,0.005788,0.032714,0.012322,0.987678,0.110318

In [262]:
grouped.to_csv('BLINKITBISTRO.CSV')

In [264]:
top_areas = grouped[['Pincode', 'City', 'Locality', 'Cuisines', 'Blinkit Bistro Success Score']].nlargest(10, 'Blinkit Bistro Success Score')
top_areas.to_csv("top_launch_zones.csv", index=False)

In [266]:
top_areas2 = grouped[['Pincode', 'City', 'Locality', 'Blinkit Bistro Success Score']].nlargest(10, 'Blinkit Bistro Success Score')
top_areas2.to_csv("top_launch_zones.csv", index=False)

In [274]:
grouped.columns

Index(['Pincode', 'Locality', 'City', 'Cuisines', 'Votes', 'Aggregate rating',
       'Average Cost for two', 'Total Restaurants',
       'Delivery Availability Ratio', 'Demand Score', 'Feasibility Score',
       'Saturation Index', 'Demand Score (Norm)', 'Feasibility Score (Norm)',
       'Saturation Index (Norm)', 'Saturation Inverse',
       'Blinkit Bistro Success Score'],
      dtype='object')

In [278]:
grouped['Blinkit Bistro Success Score'].describe()

count    5839.000000
mean        0.217201
std         0.133515
min         0.072723
25%         0.100713
50%         0.124698
75%         0.400063
max         0.703857
Name: Blinkit Bistro Success Score, dtype: float64

In [284]:
grouped[grouped['Blinkit Bistro Success Score']>0.45]

,Pincode,Locality,City,Cuisines,Votes,Aggregate rating,Average Cost for two,Total Restaurants,Delivery Availability Ratio,Demand Score,Feasibility Score,Saturation Index,Demand Score (Norm),Feasibility Score (Norm),Saturation Index (Norm),Saturation Inverse,Blinkit Bistro Success Score
76,110001,Connaught Place,New Delhi,Ice Cream,2620,4.900000,150.000000,1,1.000000,12838.000,6419.000000,0.370092,0.043255,0.244473,0.000000,1.000000,0.486318
275,110003,Lodhi Road,New Delhi,European,2549,4.200000,2600.000000,1,1.000000,10705.800,5352.900000,0.370092,0.036065,0.203840,0.000000,1.000000,0.471971
277,110003,Lodhi Road,New Delhi,Lebanese,2549,4.200000,2600.000000,1,1.000000,10705.800,5352.900000,0.370092,0.036065,0.203840,0.000000,1.000000,0.471971
278,110003,Lodhi Road,New Delhi,Mediterranean,2549,4.200000,2600.000000,1,1.000000,10705.800,5352.900000,0.370092,0.036065,0.203840,0.000000,1.000000,0.471971
289,110003,Pandara Road Market,New Delhi,Mughlai,5157,3.933333,1566.666667,3,1.000000,20284.200,5071.050000,1.110277,0.068361,0.193097,0.028169,0.971831,0.475621
755,110016,Hauz Khas Village,New Delhi,Asian,13473,3.933333,1666.666667,3,0.666667,52993.800,13248.450000,1.110277,0.178651,0.504774,0.028169,0.971831,0.502211
903,110017,"Select Citywalk Mall, Saket",New Delhi,North Indian,1971,4.200000,1950.000000,1,1.000000,8278.200,4139.100000,0.370092,0.027880,0.157576,0.000000,1.000000,0.455637
1980,110049,Anand Lok,New Delhi,Cafe,2131,4.200000,1400.000000,1,1.000000,8950.200,4475.100000,0.370092,0.030146,0.170383,0.000000,1.000000,0.460159
1982,110049,Anand Lok,New Delhi,Continental,2131,4.200000,1400.000000,1,1.000000,8950.200,4475.100000,0.370092,0.030146,0.170383,0.000000,1.000000,0.460159
1984,110049,Anand Lok,New Delhi,Italian,2131,4.200000,1400.000000,1,1.000000,8950.200,4475.100000,0.370092,0.030146,0.170383,0.000000,1.000000,0.460159
3611,122002,"Ambience Mall, Gurgaon",Gurgaon,Mughlai,1887,4.300000,2000.000000,1,1.000000,8114.100,4057.050000,0.515408,0.027327,0.154449,0.005530,0.994470,0.453980
3612,122002,"Ambience Mall, Gurgaon",Gurgaon,North Indian,1887,4.300000,2000.000000,1,1.000000,8114.100,4057.050000,0.515408,0.027327,0.154449,0.005530,0.994470,0.453980
5127,400013,Lower Parel,Mumbai,Bakery,2076,3.900000,700.000000,1,1.000000,8096.400,4048.200000,0.986842,0.027267,0.154112,0.023471,0.976529,0.452066
5128,400013,Lower Parel,Mumbai,Cafe,2076,3.900000,700.000000,1,1.000000,8096.400,4048.200000,0.986842,0.027267,0.154112,0.023471,0.976529,0.452066
5129,400013,Lower Parel,Mumbai,Desserts,2076,3.900000,700.000000,1,1.000000,8096.400,4048.200000,0.986842,0.027267,0.154112,0.023471,0.976529,0.452066
5131,400018,Lower Parel,Mumbai,North Indian,3370,4.200000,1500.000000,1,1.000000,14154.000,7077.000000,0.986842,0.047692,0.269553,0.023471,0.976529,0.492826
5134,400050,"Hill Road, Bandra West",Mumbai,Cafe,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5135,400050,"Hill Road, Bandra West",Mumbai,Chinese,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5136,400050,"Hill Road, Bandra West",Mumbai,Desserts,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5137,400050,"Hill Road, Bandra West",Mumbai,Fast Food,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5138,400050,"Hill Road, Bandra West",Mumbai,Italian,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5139,400050,"Hill Road, Bandra West",Mumbai,Tea,2040,4.100000,1000.000000,1,1.000000,8364.000,4182.000000,0.986842,0.028169,0.159211,0.023471,0.976529,0.453867
5172,400064,Malad West,Mumbai,Pizza,2662,4.500000,800.000000,1,1.000000,11979.000,5989.500000,0.986842,0.040358,0.228103,0.023471,0.976529,0.478191
5189,400092,Borivali West,Mumbai,Chinese,2083,4.700000,1000.000000,1,1.000000,9790.100,4895.050000,0.986842,0.032978,0.186389,0.023471,0.976529,0.463463
5190,400092,Borivali West,Mumbai,Italian,2083,4.700000,1000.000000,1,1.000000,9790.100,4895.050000,0.986842,0.032978,0.186389,0.023471,0.976529,0.463463
5191,400092,Borivali West,Mumbai,Mexican,2083,4.700000,1000.000000,1,1.000000,9790.100,4895.050000,0.986842,0.032978,0.186389,0.023471,0.976529,0.463463
5192,400092,Borivali West,Mumbai,North Indian,2083,4.700000,1000.000000,1,1.000000,9790.100,4895.050000,0.986842,0.032978,0.186389,0.023471,0.976529,0.463463
5428,500034,"12th Square Building, Banjara Hills",Hyderabad,Chinese,3374,4.300000,1500.000000,1,1.000000,14508.200,7254.100000,0.844828,0.048886,0.276303,0.018067,0.981933,0.495750
5429,500034,"12th Square Building, Banjara Hills",Hyderabad,Mughlai,3374,4.300000,1500.000000,1,1.000000,14508.200,7254.100000,0.844828,0.048886,0.276303,0.018067,0.981933,0.495750
5430,500034,"12th Square Building, Banjara Hills",Hyderabad,North Indian,3374,4.300000,1500.000000,1,1.000000,14508.200,7254.100000,0.844828,0.048886,0.276303,0.018067,0.981933,0.495750
5431,500034,Banjara Hills,Hyderabad,American,1932,4.700000,1800.000000,1,1.000000,9080.400,4540.200000,0.844828,0.030585,0.172864,0.018067,0.981933,0.459228
5432,500034,Banjara Hills,Hyderabad,Burger,1932,4.700000,1800.000000,1,1.000000,9080.400,4540.200000,0.844828,0.030585,0.172864,0.018067,0.981933,0.459228
5435,500034,Banjara Hills,Hyderabad,Mexican,1932,4.700000,1800.000000,1,1.000000,9080.400,4540.200000,0.844828,0.030585,0.172864,0.018067,0.981933,0.459228
5437,500034,Banjara Hills,Hyderabad,Tex-Mex,1932,4.700000,1800.000000,1,1.000000,9080.400,4540.200000,0.844828,0.030585,0.172864,0.018067,0.981933,0.459228
5443,500081,Hitech City,Hyderabad,American,2553,4.600000,1800.000000,1,1.000000,11743.800,5871.900000,0.844828,0.039565,0.223621,0.018067,0.981933,0.477149
5444,500081,Hitech City,Hyderabad,Burger,2553,4.600000,1800.000000,1,1.000000,11743.800,5871.900000,0.844828,0.039565,0.223621,0.018067,0.981933,0.477149
5446,500081,Hitech City,Hyderabad,Mexican,2553,4.600000,1800.000000,1,1.000000,11743.800,5871.900000,0.844828,0.039565,0.223621,0.018067,0.981933,0.477149
5449,500081,Hitech City,Hyderabad,Tex-Mex,2553,4.600000,1800.000000,1,1.000000,11743.800,5871.900000,0.844828,0.039565,0.223621,0.018067,0.981933,0.477149
5457,500084,Kondapur,Hyderabad,Cafe,1859,4.200000,1800.000000,1,1.000000,7807.800,3903.900000,0.844828,0.026294,0.148612,0.018067,0.981933,0.450665
5458,500084,Kondapur,Hyderabad,Chinese,1859,4.200000,1800.000000,1,1.000000,7807.800,3903.900000,0.844828,0.026294,0.148612,0.018067,0.981933,0.450665
5459,500084,Kondapur,Hyderabad,Continental,1859,4.200000,1800.000000,1,1.000000,7807.800,3903.900000,0.844828,0.026294,0.148612,0.018067,0.981933,0.450665
5460,500084,Kondapur,Hyderabad,North Indian,1859,4.200000,1800.000000,1,1.000000,7807.800,3903.900000,0.844828,0.026294,0.148612,0.018067,0.981933,0.450665
5462,560008,Indiranagar,Bangalore,Asian,2369,4.700000,2400.000000,1,1.000000,11134.300,5567.150000,0.842105,0.037510,0.212006,0.017963,0.982037,0.473058
5466,560034,Koramangala 5th Block,Bangalore,American,9667,4.700000,800.000000,1,1.000000,45434.900,22717.450000,0.842105,0.153164,0.865679,0.017963,0.982037,0.703857
5467,560034,Koramangala 5th Block,Bangalore,Burger,9667,4.700000,800.000000,1,1.000000,45434.900,22717.450000,0.842105,0.153164,0.865679,0.017963,0.982037,0.703857
5468,560034,Koramangala 5th Block,Bangalore,Cafe,9667,4.700000,800.000000,1,1.000000,45434.900,22717.450000,0.842105,0.153164,0.865679,0.017963,0.982037,0.703857
5470,560035,Sarjapur Road,Bangalore,Finger Food,5705,4.500000,1800.000000,1,1.000000,25672.500,12836.250000,0.842105,0.086530,0.489063,0.017963,0.982037,0.570881
5473,560035,Sarjapur Road,Bangalore,South Indian,5705,4.500000,1800.000000,1,1.000000,25672.500,12836.250000,0.842105,0.086530,0.489063,0.017963,0.982037,0.570881
5474,560035,Sarjapur Road,Bangalore,Thai,5705,4.500000,1800.000000,1,1.000000,25672.500,12836.250000,0.842105,0.086530,0.489063,0.017963,0.982037,0.570881
5479,560038,Indiranagar,Bangalore,American,10934,4.800000,2000.000000,1,0.000000,52483.200,26241.600000,0.842105,0.176929,1.000000,0.017963,0.982037,0.451282
5485,560038,Indiranagar,Bangalore,Italian,12347,4.550000,1300.000000,2,0.500000,56178.850,18726.283333,1.684211,0.189390,0.713558,0.050011,0.949989,0.515883
5487,560038,Indiranagar,Bangalore,Pizza,12347,4.550000,1300.000000,2,0.500000,56178.850,18726.283333,1.684211,0.189390,0.713558,0.050011,0.949989,0.515883
5494,560095,"BluPetal Hotel, Koramangala",Bangalore,Mughlai,2416,4.100000,1300.000000,1,1.000000,9905.600,4952.800000,0.842105,0.033367,0.188590,0.017963,0.982037,0.464791
5495,560095,"BluPetal Hotel, Koramangala",Bangalore,North Indian,2416,4.100000,1300.000000,1,1.000000,9905.600,4952.800000,0.842105,0.033367,0.188590,0.017963,0.982037,0.464791
5584,600001,Nungambakkam,Chennai,North Indian,1753,4.600000,1200.000000,1,1.000000,8063.800,4031.900000,0.935484,0.027157,0.153491,0.021517,0.978483,0.452043
5717,700016,Park Street Area,Kolkata,Continental,12038,3.900000,1025.000000,2,1.000000,46948.200,15649.400000,1.769231,0.158267,0.596285,0.053247,0.946753,0.621041
5718,700016,Park Street Area,Kolkata,Italian,4464,3.500000,1050.000000,1,1.000000,15624.000,7812.000000,0.884615,0.052648,0.297567,0.019581,0.980419,0.503106
5719,700016,Park Street Area,Kolkata,North Indian,19079,4.225000,1137.500000,4,0.750000,80608.775,16121.755000,3.538462,0.271762,0.614288,0.120578,0.879422,0.578757
5727,700019,Ballygunge,Kolkata,Bengali,1778,4.400000,1000.000000,1,1.000000,7823.200,3911.600000,0.884615,0.026346,0.148905,0.019581,0.980419,0.450617

In [286]:
# Filter rows where score > 0.45
filtered = grouped[grouped['Blinkit Bistro Success Score'] > 0.45]

# Get distinct combinations of Pincode, Locality, City, and Score
distinct_grouped = filtered[['Pincode', 'Locality', 'City', 'Blinkit Bistro Success Score']].drop_duplicates()

# Optional: Sort by score descending
distinct_grouped = distinct_grouped.sort_values(by='Blinkit Bistro Success Score', ascending=False)

In [288]:
distinct_grouped[

,Pincode,Locality,City,Blinkit Bistro Success Score
5466,560034,Koramangala 5th Block,Bangalore,0.703857
5717,700016,Park Street Area,Kolkata,0.621041
5719,700016,Park Street Area,Kolkata,0.578757
5470,560035,Sarjapur Road,Bangalore,0.570881
5485,560038,Indiranagar,Bangalore,0.515883
5718,700016,Park Street Area,Kolkata,0.503106
755,110016,Hauz Khas Village,New Delhi,0.502211
5428,500034,"12th Square Building, Banjara Hills",Hyderabad,0.495750
5131,400018,Lower Parel,Mumbai,0.492826
76,110001,Connaught Place,New Delhi,0.486318
5172,400064,Malad West,Mumbai,0.478191
5443,500081,Hitech City,Hyderabad,0.477149
289,110003,Pandara Road Market,New Delhi,0.475621
5462,560008,Indiranagar,Bangalore,0.473058
275,110003,Lodhi Road,New Delhi,0.471971
5494,560095,"BluPetal Hotel, Koramangala",Bangalore,0.464791
5189,400092,Borivali West,Mumbai,0.463463
1980,110049,Anand Lok,New Delhi,0.460159
5431,500034,Banjara Hills,Hyderabad,0.459228
903,110017,"Select Citywalk Mall, Saket",New Delhi,0.455637
3611,122002,"Ambience Mall, Gurgaon",Gurgaon,0.453980
5134,400050,"Hill Road, Bandra West",Mumbai,0.453867
5127,400013,Lower Parel,Mumbai,0.452066
5584,600001,Nungambakkam,Chennai,0.452043
5479,560038,Indiranagar,Bangalore,0.451282
5457,500084,Kondapur,Hyderabad,0.450665
5727,700019,Ballygunge,Kolkata,0.450617

In [290]:
# Group and take the max score per unique (Pincode, Locality, City)
grouped_unique = (
    grouped[grouped['Blinkit Bistro Success Score'] > 0.45]
    .groupby(['Pincode', 'Locality', 'City'], as_index=False)['Blinkit Bistro Success Score']
    .max()
)

# Sort by score descending (optional)
grouped_unique = grouped_unique.sort_values(by='Blinkit Bistro Success Score', ascending=False)

In [304]:
grouped_unique.describe()

       Blinkit Bistro Success Score
count                     24.000000
mean                       0.490886
std                        0.060564
min                        0.450617
25%                        0.455223
50%                        0.472515
75%                        0.493557
max                        0.703857

In [306]:
grouped_unique.to_csv('LOCATIONS.CSV')

In [308]:
# Filter rows with score > 0.45
filtered = grouped[grouped['Blinkit Bistro Success Score'] > 0.45]

# Group by Pincode, Locality, City and aggregate
result = (
    filtered.groupby(['Pincode', 'Locality', 'City'], as_index=False)
    .agg({
        'Blinkit Bistro Success Score': 'max',  # or 'mean' if you prefer
        'Cuisines': lambda x: ', '.join(sorted(set(x)))  # remove duplicates + join
    })
)

# Sort by score descending
result = result.sort_values(by='Blinkit Bistro Success Score', ascending=False)

In [316]:
result.to_csv('with_cuisine.csv')

In [318]:
result

,Pincode,Locality,City,Blinkit Bistro Success Score,Cuisines
17,560034,Koramangala 5th Block,Bangalore,0.703857,"American, Burger, Cafe"
22,700016,Park Street Area,Kolkata,0.621041,"Continental, Italian, North Indian"
18,560035,Sarjapur Road,Bangalore,0.570881,"Finger Food, South Indian, Thai"
19,560038,Indiranagar,Bangalore,0.515883,"American, Italian, Pizza"
3,110016,Hauz Khas Village,New Delhi,0.502211,Asian
12,500034,"12th Square Building, Banjara Hills",Hyderabad,0.495750,"Chinese, Mughlai, North Indian"
8,400018,Lower Parel,Mumbai,0.492826,North Indian
0,110001,Connaught Place,New Delhi,0.486318,Ice Cream
10,400064,Malad West,Mumbai,0.478191,Pizza
14,500081,Hitech City,Hyderabad,0.477149,"American, Burger, Mexican, Tex-Mex"
2,110003,Pandara Road Market,New Delhi,0.475621,Mughlai
16,560008,Indiranagar,Bangalore,0.473058,Asian
1,110003,Lodhi Road,New Delhi,0.471971,"European, Lebanese, Mediterranean"
20,560095,"BluPetal Hotel, Koramangala",Bangalore,0.464791,"Mughlai, North Indian"
11,400092,Borivali West,Mumbai,0.463463,"Chinese, Italian, Mexican, North Indian"
5,110049,Anand Lok,New Delhi,0.460159,"Cafe, Continental, Italian"
13,500034,Banjara Hills,Hyderabad,0.459228,"American, Burger, Mexican, Tex-Mex"
4,110017,"Select Citywalk Mall, Saket",New Delhi,0.455637,North Indian
6,122002,"Ambience Mall, Gurgaon",Gurgaon,0.453980,"Mughlai, North Indian"
9,400050,"Hill Road, Bandra West",Mumbai,0.453867,"Cafe, Chinese, Desserts, Fast Food, Italian, Tea"
7,400013,Lower Parel,Mumbai,0.452066,"Bakery, Cafe, Desserts"
21,600001,Nungambakkam,Chennai,0.452043,North Indian
15,500084,Kondapur,Hyderabad,0.450665,"Cafe, Chinese, Continental, North Indian"
23,700019,Ballygunge,Kolkata,0.450617,Bengali

In [3]:
grouped['Blinkit Bistro Success Score']

NameError: name 'grouped' is not defined